@use '../abstracts/variables' as var;
@use '../abstracts/fonts';

@mixin mobile {
  @media (min-width: var.$mobile) {
    @content;
  }
}

@mixin mobilemax {
  @media (max-width: var.$mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: var.$tablet) {
    @content;
  }
}

@mixin tabletmax {
  @media (max-width: var.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: var.$desktop) {
    @content;
  }
}

@mixin desktopmax {
  @media (max-width: var.$desktop) {
    @content;
  }
}

body {
  @include tablet {
    font-size: calc(fonts.$font-size + 2px);
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@include desktop {
  .card .card__content:first-child {
    margin-top: auto;
    grid-row: 1/3;
  }
  .card__content:nth-child(4) {
    grid-row: 1/span 3;
    grid-column: 3/4;
    top: 22%;
  }
}

.card {
  @include desktop {
    width: min(80%, 120em);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.container {
  @include mobilemax {
    margin-top: 2em;
  }
  @include tabletmax {
    margin-top: 2em;
  }
  @include desktopmax {
    margin-top: 2em;
  }
}