// Stylesheets imported
@use 'globals';
@use 'abstracts';
@use 'components';




.content {
  text-align: center;

  & p {
    width: min(75%, 33.5em);
    margin: auto;
    font-size: calc(abstracts.$font-size + 2px);
    color: abstracts.$neutral-grayish-blue;
  }

  & .content__heading {
    margin-bottom: min(24px, 1.73em);
    & .content-txt-thin {
      font-weight: abstracts.weight(thin);
      font-size: calc(abstracts.$font-size + 1em);
    }
    & .content-txt-bold {
      color: abstracts.$neutral-dark-blue;
      font-weight: abstracts.weight(bold);
      font-size: calc(abstracts.$font-size + 1em);
    }
  }
}
